@font-face {
    font-family: Inter;
    src: url(font/Inter-Regular.ttf);
}
@font-face {
    font-family: Forum;
    src: url(font/Forum-Regular.ttf);
}
@font-face {
    font-family: Inter-bold;
    src: url(font/Inter-Medium.ttf);
}
body {
    margin-top: 0;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
}
.end_text1{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 100% */
    letter-spacing: 2px;
    margin-left: 25px;
}
header {
    display: flex;
    justify-content: space-between;
    background: #0C0C0E;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
}
h1{

    font-family: Forum;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    color: #FFFFFF;
    letter-spacing: 0.6px;
}
.wellcome_block{
    width: 41.67%;
    height: 36.67%;
    margin-left: 0%;
    margin-top: 15.05%;
    background-color:#0C0C0E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wellcome_text{
    font-family: Forum;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.navText{
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #FFFFFF;
    cursor: pointer;
}
.navText:hover {
    color: #6e6d6d;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 250% */
}
ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
}
.iconProfil {
    display: flex;
    justify-content: center;
}

.navPanel{
    display: flex;
    gap: 40px;
    justify-content: center;
}
.wellcome{
    display: flex;
    height: 600px;
    background-image: url(photo/Wellcome.jpg);
    background-size: cover;
    background-position: center;

}
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.left{
    display: none;
}
.right{
    display: none;
}
.content{
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.line{
    width: 50px;
    height: 1px;
    flex-shrink: 0;
    background: #0C0C0E;
    margin-top: -16px;

}
h2 {
    color: #0C0C0E;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
}
.ing {
    height: 97.72%;
    width: 31.25%;
}
.round_darck1{
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    border-radius: 50%;
    background: #BB945F;
    cursor: pointer;
}
.round_black1{
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    border-radius: 50%;
    background: #0C0C0E;
    cursor: pointer;
}
.ingDesktop {
    max-height: 100%;
    max-width: 32%;
}
.about_text{
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: #000000;
    text-align: center;
    margin-top:40px;
}
.imgBlock{
    width: 97.222%;
    height: 66.905%;
    display: flex;
    overflow-x: hidden;
    margin-top: 20px;
    margin-left: 1.5%;
}
.container1{
    width: 100%;
    height: 100%;
    display: flex;
    gap:1.8%;
}
.regtangle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    cursor: pointer;
    margin-right: -5px;
    margin-top: 1px;
}
.input {
    display: flex;
    gap: 35px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.round_darck{
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    border-radius: 50%;
    background: #BB945F;
    cursor: pointer;
}
.round_black{
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    border-radius: 50%;
    background: #0C0C0E;
    cursor: pointer;
}
.block_round{
    margin-top: 35px;
    display: flex;
    justify-content: center;
    gap: 4px;
}
a {
    text-decoration: none;
}
.navMenuAnim{
    display: none;
}
.card{
    border: 1px solid #000;
    position: relative;
    height: 590px;
    width: 555px;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 30px;
}
.line_card{
    width: 60px;
    height: 1px;
    background: #BB945F;
}
.text_card1{
    font-family: Forum;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    color: #000000;
}
.text_card2{
    font-family: Forum;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000000;
}
.text_card3{
    font-family: Forum;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 2px;
    color: #000000;
}
.card2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.card3{
    width: 355px;
    margin-top: 20px;

}
.textinside{
    color: #000;
    min-height: 320px;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 266.667% */
    letter-spacing: 2px;
    text-transform: capitalize;
}
.booking{
    display: flex;
    width: 200px;
    height: 300px;
    position: absolute;
    left: 390px;
    top: 254px;
}
.favorite{
    box-sizing: border-box;
    padding-left: 1.5%;
    padding-right: 2.5%;
}
.books{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.text_favorite{
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}
.text_favorite1{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
}
.footer_text__block{
    box-sizing: border-box;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    width: 100%;
    height: 250px;
    background: #0C0C0E;
}
.foter{
    display: flex;
    justify-content: space-between;
}
.text_end{
    text-align: end;
}

.footer_text{
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.space{
    width: 229px;
}
.space2{
    width: 149px;
}
.ost{
    margin-top:10px
}
.icons{
    display:flex;
    gap: 15px;
    margin-left: -40px;
    margin-top: 9px;
}
.main_footer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.solid{
    width: 100%;
    height: 1px;
    background: #FFF;
    margin-top: 15px;
    margin-bottom: 46px;
}
.end_text{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 100% */
    letter-spacing: 2px;
}
.burger-menu{
    display: none;
}
.bar{
    display: none;
}
.block_burgerMenu{
    display: none;
}
.imgBlock_table{
    display: none;
}
.block_roundTable{
    display: none;
}
.container{
    display: none;
}
.nawMenu{
    display: none;
}
@media screen and (max-width: 768px){
    .books{
        justify-content: center;
        flex-direction: column;
        margin-left: 9%;
    }
    .left {
        position: absolute;
        top: 61.55%;
        left: 10%;
        display: block; /* Добавляем отображение элемента */
    }
    .right {
        position: absolute;
        top: 61.88%;
        right: 11%;
        display: block; /* Добавляем отображение элемента */
    }
    h1 {
        font-size: 30px;
    }
    .nawMenu.nawMenuAnim{
        right: 0%;
    }
    .navText{
        font-family: Inter;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 50px;
        color: #FFFFFF;
    }

    .nawMenu{
        width: 332px;
        height: 480px;
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        background-color: #0C0C0E;
        right: -70%;
        transition: right 0.5s;
        top: 90px;
        gap:30px;
        overflow: hidden;
    }
    .navPanel{
        display: none;
    }
    .block_burgerMenu{
        display: flex;
        gap: 40px;
        justify-content: center;
    }
    .burger-menu{
        display: flex;
        flex-direction: column;
        gap: 9px;
        margin-top: 33px;
        cursor: pointer;
    }
    .burger-to-cross .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-4px, 9px);
    }

    .burger-to-cross .bar:nth-child(2) {
        opacity: 0;
    }

    .burger-to-cross .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -10px);
    }
    .bar {
        display: block;
        width: 45px;
        height: 2px;
        background-color: #fff;
        transition: 0.4s;
    }

    .wellcome_block{
        width: 78.125%;
        height: 36.7%;
        margin-top: 29%;
    }
    .about_text{
        box-sizing: border-box;
        padding-left: 30px;
        padding-right: 30px;
    }
    .imgBlock{
        display: none;
    }


    .ing{
        width: 97.826%;
        height: 100%;
    }
    .container{
        display: flex;
        gap: 12.8%;
    }
    .imgBlock_table{
        width: 60%;
        height: 64.965%;
        display: flex;
        overflow-x: hidden;
        margin-top: 20px;
        margin-left: 21%;
    }
    .block_round{
        display: none;
    }
    .block_roundTable{
        margin-top: 20px;
        display: flex;
        justify-content: center;
        gap: 4px;
    }
    .end_text1{
        margin-right: 56px;
    }
}
@media screen and (min-width: 769px) and (max-width: 1030px) {

    .navText {
        font-family: Inter;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 50px;
        color: #FFFFFF;
    }
    h1{
        font-size: 20px;
    }
    .wellcome_text{
        font-size: 30px;
    }
}


