@import url('../themeCss/colors.css');

.info{
    width: 32.5%;
    max-height: 100%;
    background-color: var(--card);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 40px;
    box-shadow: 4px 8px 20px rgb(222,219,237);
    align-items: start;
}
.imgBlock{
    display: flex;
    gap: 25px;
    justify-content: start;
    align-items: center;
}
h2{
    font-family: 'Inter','sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    color: var(--color2);


}
.numberInfo{

    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 78px;

    color: var(--color);
}
.img1{
    background: var(--img1);
    background-size: cover;
    width: 64px;
    height: 108px;
}
.img2{
    background: var(--img2);
    background-size: cover;
    width: 72px;
    height: 108px;
}
.img3{
    background: var(--img3);
    background-size: cover;
    width: 64px;
    height: 108px;
}
@media screen and (max-width: 1032px){
    .numberInfo{
        font-size: 45px;
        line-height: 78px;
        color: var(--color);
    }

}
@media screen and (max-width: 888px){
    .info{
        width: 100%;
    }

}