@import url('../themeCss/colors.css');
.card{
    width: 100%;
    height: 100%;
    border-radius: 40px;
    box-shadow: 4px 8px 20px rgb(63,40,207);
    box-sizing: border-box;
    padding: 32px;
    display: flex;
    justify-content: space-between;
}
.city{
    font-family: 'Inter', serif;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    gap: 10px;
}
.temperature_now{
    font-family: 'Inter', serif;
    font-size: 64px;
    font-weight: 900;
    margin-top: 24px;
}
.feelsLike{
    font-family: 'Inter', serif;
    font-size: 20px;
    font-weight: 600;
    margin-top: 8px;
}
.card_data{
    font-family: 'Inter', serif;
    font-size: 16px;
    color: var(--color);
    margin-top: 40px;
    text-align: start;
}
.card_data1{
    font-family: 'Inter', serif;
    font-size: 16px;
    color: var(--color);
    margin-top: 14px;
    text-align: end;
}
.icon{
    width: 180px;
    height: 180px;
    background-color: darkgoldenrod;
    border-radius: 50%;
}
.little_block{

    display: flex;
    gap: 12px;
    cursor: pointer;
}


.little_card{
    box-shadow: 4px 8px 20px rgb(222,219,237);
    border-radius: 40px;
    background-color:var(--card);
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 25px 40px 15px 25px;
}
.data_days{
    font-family: 'Inter', serif;
    font-size: 24px;
    color: var(--color);
    font-weight: 600;
}
.icon_2{
    width: 124px;
    height: 124px;
    border-radius: 50%;
    margin-top: 8px;
    background-color: var(--background-color);
}
.temp_2{
    font-family: 'Inter', serif;
    font-size: 40px;
    margin-top: 18px;
}
@media screen and (max-width: 1220px){

}
@media screen and (max-width: 1220px){
    .card{
        width: 400px;
        height: 260px;
    }
    .little_card{
        height: 230px;
        width: 96px;
    }
    .city{
        font-size: 12px;
        display: flex;
    }
    .temperature_now{
        font-size: 52px;
        margin-top: 15px;
    }
    .feelsLike{
        font-size: 12px;
        margin-top: 5px;
    }
    .card_data{
        font-size: 12px;
        margin-top: 15px;
    }
    .icon{
        width: 150px;
        height: 150px;
        background-color: darkgoldenrod;
        border-radius: 50%;
    }
}
@media screen and (max-width: 424px){
    .card{
        width: 320px;
        height: 200px;
    }
    .little_card{
        height: 230px;
        width: 96px;
    }
    .city{
        font-size: 9px;
        display: flex;
    }
    .temperature_now{
        font-size: 30px;
        margin-top: 10px;
    }
    .feelsLike{
        font-size: 8px;
        margin-top: 2px;
    }
    .card_data{

        font-size: 9px;
        margin-top: 10px;

    }
    .icon{
        width: 100px;
        height: 100px;
        background-color: darkgoldenrod;
        border-radius: 50%;
    }
}