@import url('../themeCss/colors.css');
.switch {
    width: 50px;
    height: 30px;
    background-color: var(--color);
    border-radius: 15px;
    position: relative;
    cursor: pointer;
}
.switch_round {
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
}

.switch_round.dark {
    transform: translate(22px, -50%);
    background-color: black;
}

.switch_round.light {
    transform: translate(-2px, -50%);
    background-color: blanchedalmond;
}

.switch_wrapper {
    position: relative;
    width: 50px; /* Ширина всего переключателя */
    height: 30px; /* Высота всего переключателя */
}

.switch_round.light {
    transform: translate(-2px, -50%); /* Перемещение только круглого переключателя */
    background-color: blanchedalmond;
}

.switch_round.dark {
    transform: translate(22px, -50%); /* Перемещение только круглого переключателя */
    background-color: black;
}
.light {
    transform: translate(-2px, -50%);
    background-color: blanchedalmond;
}


.dark {
    transform: translate(22px, -50%);
    background-color: black;
}