@font-face {
    font-family: Inter;
    src: url(../fonts/Inter-Regular.ttf);
}
@font-face {
    font-family: Forum;
    src: url(../fonts/Forum-Regular.ttf);
}
.avatar {
    width: 250px; /* Ширина контейнера */
    height: 250px; /* Высота контейнера */
    border-radius: 50%; /* Круглая форма */
    background-color: cadetblue;
    border: 2px solid teal;
    position: relative; /* Для позиционирования относительно */
    display: inline-block; /* Элементы блока, но без переноса строки */
}

.avatar label {
    position: absolute; /* Позиционирование относительно родительского контейнера */
    top: 50%; /* Положение сверху на 50% */
    left: 50%; /* Положение слева на 50% */
    transform: translate(-50%, -50%); /* Смещение на 50% ширины и высоты */
    cursor: pointer; /* Изменение курсора при наведении */
}
.input_login{
    font-family: 'Forum', serif;
    width: 500px;
    height: 60px;
    border: 2px solid teal;
    font-size: 25px;
    border-radius: 15px;
}
.logIn{
    font-family: 'Forum', serif;
    height: 60px;
    width: 150px;
    border: 2px solid teal;
    font-size: 25px;
    color: teal;
    border-radius: 15px;
    background-color: transparent;
    cursor: pointer;
}
.login_block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;
    margin-top: 5%;
}
.burger-menu{
    display: flex;
    flex-direction: column;
    gap: 9px;
    z-index: 1;
    cursor: pointer;
}
.burger-to-cross .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-4px, 9px);
    
}

.burger-to-cross .bar:nth-child(2) {
    opacity: 0;
}

.burger-to-cross .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -10px);
}
.bar {
    display: block;
    width: 45px;
    height: 2px;
    background-color: teal;
    transition: 0.4s;
}
.menu {
    position: fixed;
    top: 0;
    left: -300px; /* Начальное положение за пределами экрана */
    width: 300px;
    height: 100vh;
    background-color: #ffffff;
    transition: left 0.3s ease; /* Анимация движения */
}

/* Класс для анимации выезжания меню */
.menu.open {
    left: 0; /* Показываем меню, смещая его влево */
}
header{
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
}
.search{
    font-family: 'Forum', serif;
    width: 400px;
    height: 50px;
    border-radius: 15px;
    border: 2px solid teal;
    font-size: 20px;
}
.weatherNow{
    margin-top: 20px;
    gap: 15px;
    display: flex;
    width: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:1px solid teal;
}
.time{
    font-family: 'Forum', serif;
    font-size: 20px;
    color: cadetblue;
}

.data{
    display: flex;
    gap: 30px;
    border: 1px solid teal;
    justify-content: start;
    align-items: center;
}
.data__text{
    font-family: 'Forum', serif;
    font-size: 30px;
    color: lightseagreen;
    width: 290px;
    font-weight: 500;
}
.temp{
    font-family: 'Inter', serif;
    font-weight: 900;
    font-size: 30px;
}
.data_main{
    width: 650px;
}
h2{
    font-family: 'Inter', serif;
    font-size: 30px;
    text-align: center;
}
.main_section{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-direction: column;


}
.main_div{
    display: flex;
    gap: 20px;
    padding-left: 40px;
    padding-top: 20px;
}
.card{
    width: 555px;
    height: 295px;
    border-radius: 40px;
    box-shadow: 4px 8px 20px rgb(63,40,207);
    box-sizing: border-box;
    padding: 32px;
    display: flex;
    justify-content: space-between;
}
.city{
    font-family: 'Inter', serif;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    gap: 10px;
}
.temperature_now{
    font-family: 'Inter', serif;
    font-size: 64px;
    font-weight: 900;
    margin-top: 24px;
}
.feelsLike{
    font-family: 'Inter', serif;
    font-size: 20px;
    font-weight: 600;
    margin-top: 8px;
}
.card_data{
    font-family: 'Inter', serif;
    font-size: 16px;
    color: #6F6969;
    margin-top: 24px;
    text-align: end;
}
.icon{
    width: 180px;
    height: 180px;
    background-color: darkgoldenrod;
    border-radius: 50%;
}
.littel_card{
    width: 187px;
    height: 290px;
    box-shadow: 4px 8px 20px rgb(222,219,237);
    border-radius: 40px;
    display: flex;

    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding-top: 32px;
}
.data_days{
    font-family: 'Inter', serif;
    font-size: 24px;
    color: black;
    font-weight: 600;
}
.icon_2{
    width: 124px;
    height: 124px;
    border-radius: 50%;
    margin-top: 8px;
    background-color: teal;
}
.temp_2{
    font-family: 'Inter', serif;
    font-size: 40px;
    margin-top: 18px;
}
.little_block{
    display: flex;
    gap: 12px;
}